/*.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
  }*/

.navbar {
  flex-direction: row;
  font-family: 'Comfortaa', cursive;
  color: white;
  background-color: #313639;
  overflow: hidden;
}



.navbar a:hover {
  background-color: #ddd;
  color: black;
}



.navbar a:active {
  background-color: #04AA6D;
  color: white;
  
}

.navbar .icon {
  display: none;
}


.ni {
  background: linear-gradient(#313639, #313639 50%, #2ecc71 50%, #2ecc71);
  background-size: 100% 200%;
  transition: background 1s;
}

.ni:hover{
  background-position: 100% -100%;
}
/*.logo {
    width: 40%;
    padding: 1%;
    background-color: #313639;
  }*/
/*  .nav {
    width: 73%;
    padding: 1%;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: #313639;
  }*/
ul {
  width: 50%;
  padding: 1%;
}

.img {
  text-align: center;
}

body {
  background-color: #F5F5F5;
}

.skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  gap: 0px 150px;
  padding: 10px;
  margin: 10px;
  /*grid-auto-flow: row;*/
  grid-template-areas:
    "ProSkillsHead ProSkillsHead"
    "Wireframing Branding"
    "SkillsHead SkillsHead"
    "SkillsColumn1 SkillsColumn2";

  font-family: 'Comfortaa', cursive;



}

.ProSkillsHead {
  grid-area: ProSkillsHead;
}

.Wireframing {
  grid-area: Wireframing;
}

.Branding {
  grid-area: Branding;
}

.SkillsHead {
  grid-area: SkillsHead;
}

.SkillsColumn1 {
  grid-area: SkillsColumn1;
}

.SkillsColumn2 {
  grid-area: SkillsColumn2;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  column-gap: 5%;
  row-gap: 10%;

}
.headshot input {
width: 100%;
height: auto;
}
h1 {
  font-family: 'Comfortaa', cursive;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


footer {
  background-color: #313639;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  justify-self: flex-end;
  flex-grow: 1;
  padding: 10px;

  margin-top: auto;

  display: flex;
  flex-direction: column;
}

footer ul {
  display: inline-block;
  vertical-align: top;

}

button.navbar-toggler {
  background-color: #F5F5F5;
}

.btn {
  background: none;
  backface-visibility: hidden;
  border: none;
}

.btn:hover{
  background:none;
}

.btn:active{
  background:none;
}
.flex-items {
  flex-shrink: 2 !important;
}

.tooltip-inner {
  max-width: 500px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: .25rem;
  font-size: 28px;
}


@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    width: 100%;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr 3fr;
    grid-template-areas:
      "ProSkillsHead ProSkillsHead"
      "Wireframing Wireframing"
      "Branding Branding"
      "SkillsHead SkillsHead"
      "SkillsColumn1 SkillsColumn2"
    ;
  }

}

#ftCon {
	font-family: 'comfortaa';
}


footer {
	background-color: #313639;
	margin: 0 auto;
	bottom: 0;
	width: 100%;
	justify-self: flex-end;
	flex-grow: 1;
	padding: 10px;

	margin-top: auto;

	display: flex;
	flex-direction: column;
}

footer ul {
	display: inline-block;
	vertical-align: top;

}
